.numbered-paragraph {
    border: solid 2px grey;
}

.figure-caption {
    text-align: center;
    font-size: 18px;
}

body {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item {
    font-size
}